:root {
  --bg-color: #0f0f17;
  --text-color: #eee;
  --primary-color: #3976c3;
  --primary-text-color: #eee;
  --input-bg-color: #0f0f17;
  --input-border-color: #616161;
  --input-text-color: #eee;
  --input-placeholder-color: #acacac;
  --post-bg-color: #191925;
  --nav-link-color: #4a62a9;
}
