body {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

a, a:hover {
    color: var(--primary-color);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.register-form {
    max-width: 400px;
}

.form-field {
    position: relative;
    padding-bottom: 30px;
}

.form-field label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-field input, .form-field select, .form-field textarea {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    flex-basis: 230px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    background: var(--input-bg-color);
    color: var(--input-text-color);
    padding: 0 10px;
}

.form-field textarea {
    height: 100px;
    resize: none;
}

::placeholder { /* Most modern browsers support this now. */
    color: var(--input-placeholder-color);
 }

 .form-err {
     color: #a31515;
     font-size: 12px;
 }

.form-field > p.form-err {
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-field-rules {
    display: flex;
    align-items: center;
}

.form-field-rules label, .form-field-rules div {
    margin-right: 15px;
}

.form-btn {
    display: block;
    height: 35px;
    background: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 0 0 auto;
}

.topbar {
    background: var(--primary-color);
    color: var(--primary-text-color);
    height: 50px;
}

.topbar .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar a {
    color: var(--primary-text-color);
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    background: var(--post-bg-color);
    margin: 5px;
    padding: 15px;
    flex-basis: 200px;
}

.post p {
    margin: 0;
    word-break: break-all;
}

.post-title {
    font-weight: 700;
    padding-bottom: 10px;
}

.post-author {
    text-align: right;
    padding-top: 10px;
}

.post-author:before {
    content: '~ ';
}

.nav {
    display: flex;
    height: 100%;
    line-height: 50px;
}

.nav-link {
    background: var(--nav-link-color);
    /* height: 100%; */
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
}
.nav-link:hover {
    background: var(--primary-color);
}

.header-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-link img {
    height: 24px;
    margin-right: 5px;
}
